openapi: 3.1.0
info:
  title: Omnisend REST Analytics ProductCategories API
  description: 'Omnisend''s REST API for managing ecommerce email and SMS marketing

    automation. Exposes contacts, events, products, product categories,

    segments, campaigns, batches, email templates, email content, email

    universal layouts, images, brands, and analytics reports. Authentication

    uses an API key passed via the `X-API-KEY` header, or OAuth 2.0 with

    scopes such as `contacts.read`, `contacts.write`, `campaigns.read`,

    `campaigns.write`, `analytics.read`, etc.

    '
  version: v5
  contact:
    name: Omnisend
    url: https://api-docs.omnisend.com/
servers:
- url: https://api.omnisend.com/v5
  description: Omnisend REST API v5
security:
- ApiKeyAuth: []
- OAuth2: []
tags:
- name: ProductCategories
paths:
  /product-categories:
    get:
      tags:
      - ProductCategories
      summary: List product categories
      responses:
        '200':
          description: List of categories
    post:
      tags:
      - ProductCategories
      summary: Create a product category
      responses:
        '201':
          description: Category created
  /product-categories/{categoryId}:
    get:
      tags:
      - ProductCategories
      summary: Get a product category
      parameters:
      - in: path
        name: categoryId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Category
    patch:
      tags:
      - ProductCategories
      summary: Update a product category
      parameters:
      - in: path
        name: categoryId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Category updated
    delete:
      tags:
      - ProductCategories
      summary: Delete a product category
      parameters:
      - in: path
        name: categoryId
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Category deleted
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://app.omnisend.com/oauth/authorize
          tokenUrl: https://api.omnisend.com/v5/oauth/token
          scopes:
            contacts.read: Read contacts
            contacts.write: Manage contacts
            campaigns.read: Read campaigns
            campaigns.write: Manage campaigns
            analytics.read: Read analytics
