openapi: 3.1.0
info:
  title: Omnisend REST Analytics Products API
  description: 'Omnisend''s REST API for managing ecommerce email and SMS marketing

    automation. Exposes contacts, events, products, product categories,

    segments, campaigns, batches, email templates, email content, email

    universal layouts, images, brands, and analytics reports. Authentication

    uses an API key passed via the `X-API-KEY` header, or OAuth 2.0 with

    scopes such as `contacts.read`, `contacts.write`, `campaigns.read`,

    `campaigns.write`, `analytics.read`, etc.

    '
  version: v5
  contact:
    name: Omnisend
    url: https://api-docs.omnisend.com/
servers:
- url: https://api.omnisend.com/v5
  description: Omnisend REST API v5
security:
- ApiKeyAuth: []
- OAuth2: []
tags:
- name: Products
paths:
  /products:
    get:
      tags:
      - Products
      summary: List products
      responses:
        '200':
          description: List of products
    post:
      tags:
      - Products
      summary: Create a product
      responses:
        '201':
          description: Product created
  /products/{productId}:
    get:
      tags:
      - Products
      summary: Get a product
      parameters:
      - in: path
        name: productId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Product
    put:
      tags:
      - Products
      summary: Replace a product
      parameters:
      - in: path
        name: productId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Product replaced
    delete:
      tags:
      - Products
      summary: Delete a product
      parameters:
      - in: path
        name: productId
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Product deleted
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://app.omnisend.com/oauth/authorize
          tokenUrl: https://api.omnisend.com/v5/oauth/token
          scopes:
            contacts.read: Read contacts
            contacts.write: Manage contacts
            campaigns.read: Read campaigns
            campaigns.write: Manage campaigns
            analytics.read: Read analytics
